/* 기본 버튼. 80x50 흰색 버튼 */
.Button {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: bold;
  color: #4b527e;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 기본 버튼 파란색 버전 */
.Button-blue {
  background-color: #597edb;
  color: #ffffff;
}

/* 200x50 흰색 버튼 */
.Button-mid {
  width: 200px;
}

/* 200x50 파란색 버튼 */
.Button-midBlue {
  width: 200px;
  background-color: #597edb;
  color: #ffffff;
}

/* 200x50 흰색 배경 진한 테두리 버튼 */
.Button-midStroke {
  width: 200px;
  border: 2px solid #4b527e;
}

/* 200x50 삘긴색 버튼 */
.Button-red {
  width: 200px;
  background-color: #ff4f49;
  color: #ffffff;
}
/* 330x50 흰색 버튼 */
.Button-long {
  width: 330px;
}

/* 330x50 파란색 버튼 */
.Button-longBlue {
  width: 330px;
  background-color: #597edb;
  color: #ffffff;
}
