.Banner {
  display: flex;
  height: 500px;
  padding: 66px 20px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 20px;
  background: var(
    --,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      180deg,
      rgba(179, 186, 228, 0.5) 0%,
      rgba(99, 108, 159, 0.8) 100%
    )
  );

  /* 글래스모피즘 종합 */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);

  /* 글래스모피즘 종합 */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);
}
.Icey {
  align-self: stretch;
  color: var(--Font-Color-50, #4b527e);
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: -0.8px;
}
