.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 20px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 854px;
  width: 390px;
  position: relative;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 376px;
  position: relative;
}
.div3 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 20px;
  padding: 9px 12px 9px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 123px;
  height: 64px;
  position: relative;
  box-shadow: inset 0px 4px 20px 0px rgba(75, 82, 126, 0.3);
  backdrop-filter: blur(22.5px);
}
.frame_307 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame_292 {
  background: #ffffff;
  border-radius: 22.5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
}
.notifications {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.div5 {
  color: var(--font-color-70, #252b5a);
  text-align: left;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  width: 39px;
}
.div6 {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 20px;
  padding: 9px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.frame_2922 {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center; /* 가로도 가운데 정렬 */
  border-radius: 50%;
  background: #fff;
  overflow: hidden; /* 테두리 밖은 자르기 */
  padding: 0; /* 불필요한 패딩 제거 */
}

.div7 {
  color: var(--font-color-60, #363d6c);
  text-align: right;
  font-family: var(--body3-semibold-16px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body3-semibold-16px-font-size, 16px);
  line-height: var(--body3-semibold-16px-line-height, 140%);
  letter-spacing: var(--body3-semibold-16px-letter-spacing, -0.02em);
  font-weight: var(--body3-semibold-16px-font-weight, 700);
  position: relative;
  width: 166px;
  height: 64px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.div8 {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 20px;
  padding: 6px 7px 6px 7px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-height: 771px;
  position: relative;
  box-shadow: inset 0px 4px 20px 0px rgba(75, 82, 126, 0.3);
  backdrop-filter: blur(22.5px);
}
.symbol_frame {
  flex-shrink: 0;
  width: 236px;
  height: 236px;
  position: relative;
  overflow: visible;
  display: flex;

  align-items: center;
  justify-content: center; /* 가로도 가운데 정렬 */
  border-radius: 50%;
  background: #fff;
  overflow: hidden; /* 테두리 밖은 자르기 */
  padding: 0; /* 불필요한 패딩 제거 */
}
.frame_310 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 361px;
  max-height: 756px;
  position: relative;
  justify-content: center; /* 수평 중앙 */
  align-items: center;
  overflow: hidden;
}
.div9 {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 20px;
  padding: 13px 19px 13px 19px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 133px;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div10 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div11 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div12 {
  color: var(--font-color-70, #252b5a);
  text-align: left;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  width: 232px;
}
.delete {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.chill_guy {
  color: var(--font-color-70, #252b5a);
  text-align: left;
  font-family: var(--body3-semibold-16px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body3-semibold-16px-font-size, 16px);
  line-height: var(--body3-semibold-16px-line-height, 140%);
  letter-spacing: var(--body3-semibold-16px-letter-spacing, -0.02em);
  font-weight: var(--body3-semibold-16px-font-weight, 700);
  position: relative;
  width: 323px;
  height: 44px;
}
.div13 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div14 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div15 {
  color: var(--font-color-70, #252b5a);
  text-align: left;
  font-family: var(--body3-semibold-16px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body3-semibold-16px-font-size, 16px);
  line-height: var(--body3-semibold-16px-line-height, 140%);
  letter-spacing: var(--body3-semibold-16px-letter-spacing, -0.02em);
  font-weight: var(--body3-semibold-16px-font-weight, 700);
  position: relative;
  width: 323px;
  height: 44px;
}
.div16 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div17 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div18 {
  border-radius: 22.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.Notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  box-shadow: 0px 4px 20px 0px rgba(75, 82, 126, 0.3) inset;
  backdrop-filter: blur(22.5px);
  cursor: pointer;
  width: 181px;
  height: 64px;
}

.Notification_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.Notification_icon {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center; /* 가로도 가운데 정렬 */
  border-radius: 50%;
  background: #fff;
  overflow: hidden; /* 테두리 밖은 자르기 */
  padding: 0; /* 불필요한 패딩 제거 */
}

.Notification_label {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #252b5a;
  letter-spacing: -0.4px;
  line-height: 140%;
}

.frame_325,
.frame_325 * {
  box-sizing: border-box;
}
.frame_325 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 223px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 311px;
  position: relative;
}
.frame_324 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame_322 {
  flex-shrink: 0;
  width: 127px;
  height: 127px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.name {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frog_icey_com {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.frame_5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame_4 {
  background: #ffffff;
  border-radius: 10px;
  padding: 11px 89px 11px 89px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 51px;
  position: relative;
  box-shadow: var(
    --basic-button2-box-shadow,
    2px 2px 10px 5px rgba(209, 209, 209, 0.5)
  );
}
.frame_14 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.symbol_svg {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.connect {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}
.frame_323 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.logout {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
}
