.small_talk_menu,
.small_talk_menu * {
  box-sizing: border-box;
}
.small_talk_menu {
  background: var(
    --2,
    linear-gradient(
      120.88deg,
      rgba(118, 140, 240, 1) 0%,
      rgba(148, 188, 240, 1) 23.468783497810364%,
      rgba(181, 208, 253, 1) 57.376015186309814%,
      rgba(222, 222, 246, 1) 86.24975085258484%
    )
  );
  padding: 18px 38px 18px 38px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  height: 1024px;
  min-width: 744px;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 126px;
  min-width: 375px;
  min-height: 126px;
  position: relative;
}
.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 126px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.div2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.icey {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 90px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  position: relative;
  box-shadow: var(---box-shadow, inset 0px 4px 20px 0px rgba(75, 82, 126, 0.5));
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.rectangle_149 {
  background: var(--font-color-40, #7b83b1);
  border-radius: 20px;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: var(---box-shadow, inset 0px 4px 20px 0px rgba(75, 82, 126, 0.5));
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.menu {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: visible;
}
.div4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start; /* 필요 시 center */
  justify-content: space-between; /* 또는 center */
  flex-wrap: wrap;
  width: 100%;
  max-width: 1364px; /* Header와 동일 */
  margin: 0 auto; /* 중앙 정렬의 핵심 */
  flex-shrink: 0;
  box-sizing: border-box;
}
._1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0;
  min-width: 0;
  height: 823px;
  max-width: 515px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.div5 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame_376 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div6 {
  color: #ffffff;
  text-align: center;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
}
.div7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.frame_257 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  height: 38px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.vector {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._2025_05_05 {
  color: #ffffff;
  text-align: left;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div8 {
  color: #ffffff;
  text-align: left;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: rgba(255, 79, 73, 0.6);
  border-radius: 15px;
  padding: 8.25px 106.5px 8.25px 106.5px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 37.5px;
  position: relative;
}
.div9 {
  color: var(--netural-white, #ffffff);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}
.div10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._2 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 1 0;
  min-width: 0;
  max-width: 828px;
  position: relative;
}
.div11 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div12 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1 1 0;
  min-width: 0;
  position: relative;

  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  overflow: hidden;
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.div13 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;
  padding: 46px 40px 46px 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 217px;
  height: 192px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.div14 {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div15 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;
  padding: 203px 45px 203px 45px;
  display: flex;
  border: none;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 615px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.div16 {
  color: #ffffff;
  text-align: center;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div17 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body1-bold-24px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body1-bold-24px-font-size, 24px);
  line-height: var(--body1-bold-24px-line-height, 140%);
  letter-spacing: var(--body1-bold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-bold-24px-font-weight, 700);
  position: relative;
  width: 632px;
  display: flex;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  align-items: center;
  justify-content: center;
}

/* 대상 목적 */

.d {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ds {
  color: #ffffff;
  text-align: left;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dg {
  color: #ffffff;
  text-align: left;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mj {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.o {
  color: #ffffff;
  text-align: left;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
