.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;
  padding: 203px 45px 203px 45px;
  display: flex;
  border: none;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 615px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 468px;
  position: relative;
  overflow: hidden;
}
.text {
  background: #ffffff;
  border-radius: 10px;
  padding: 7px 21px 7px 21px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div3 {
  color: var(--font-color-50, #4b527e);
  text-align: left;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  flex: 1;
}
.text2 {
  background: var(--netural-white, #ffffff);
  border-radius: 10px;
  padding: 7px 21px 7px 21px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  background: var(--primary-color-10, #e4f0ff);
  border-radius: 10px;
  padding: 7px 21px 7px 21px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  flex: 1;
}
.button {
  background: #ffffff;
  border-radius: 20px;
  padding: 11px 24px;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 200px; /* ✅ 내용에 맞춰서 크기 지정 */
  height: 50px;
  margin: 0 auto;
}
.div5 {
  white-space: nowrap; /* ✅ 텍스트 한 줄 유지 */
  word-break: keep-all;
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}
